<%= form_for @ac_master, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :code, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cd_division, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cd_division, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :level, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :level, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :upper_code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :upper_code, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :detail, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :detail, :class => 'text_field' %>
    </div>
  </div>

  
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            ac_masters_path, :class => 'btn btn-default' %>
 
<% end %>
