<%- model_class = ParentJournal -%>
<div class="page-header">
  <h2>仕訳</h2>
</div>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_parent_journal_path,
            :class => 'btn btn-primary',id: "new_link", remote: :true %>
<table class="table table-striped">
  <thead>  
    <tr>
      <th>取引日</th>
      <th>勘定科目</th>
      <th>金額</th>
      <th>借方・貸方区分</th>
    </tr>
  </thead>
  <tbody>
    <% @parent_journals.each do |parent_journal| %>
        <% parent_journal.journals.each do |journal| %>
            <tr>
              <td><%= parent_journal.transaction_date %></td>
              <td><%= journal.ac_master.name %></td>
              <td><%= journal.amount %></td>
              <td><%= journal.cd_division %></td>
            </tr>
        <%end%>     
        <td colspan="4">
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_parent_journal_path(parent_journal), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      parent_journal_path(parent_journal),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
    <% end %>
  </tbody>
</table>

